.logo{
    height: 7rem;
    border: transparent;
    z-index: 1;
}

.navbar{
    background-color: #6c757d;
}

.nav-link{
    color: #fafafa !important;
}

.navbar-toggler-icon{
    filter: invert(1);
}

.icon,.numberCart{
    cursor: pointer;
    color: #fafafa;
    margin-right: .5rem;
}

.titulo{
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
}

.contenedor-contador{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
}

.botonMas ,.botonMenos{
    background-color: #274b7a;
    color: #fafafa;
    padding: .5rem;
    border-radius: .3rem;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregar{
    border-radius: .6rem;
    padding: 0.3rem;
    background:rgb(39, 75, 122) ;
    transition: all .3s;
    color: #fafafa;
}


.agregar:hover{
    background:rgb(39, 75, 122) ;
}

.contenedor-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    height: 27rem;
}

.boton{
    background:linear-gradient(to left,transparent 50%, #274b7a 50%) !important;
    background-position:right !important;
    background-size: 201% !important;
    transition: ease-in-out .6s !important;
    color: #274b7a !important;
    border: solid .1rem #274b7a !important;
}

.boton:hover{
    background-position: left !important;
    color: #000000 !important;
}



.containerDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}



.contDetail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin: 2rem 0;
    gap: 1rem;
}


.titulo-envios{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.5rem;
    background-color: #6c757d;
}

.contCart{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10rem;
}

.contenedor-contador{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
}

.botones{
    display: flex;
    gap: .5rem;
}

.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cart{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.cartItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    background-color: #6c757d81;
    border-radius: 2rem;
    border: solid 1px #000000;
}

.imagenCart{
    height: 5rem;
}

.imgCart{
    height: 5rem;
    background-color: transparent;
}

.nombreCart,.precioCart,.cantidadCart,subCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eliminarProd{cursor: pointer;}

.contCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10rem 0;
}

.textoCart,.emoji{
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.mediosDePago{
    margin: 0 2rem;
}

.pagos{
    height: 7rem;
}