body h1{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.app{
    display: flex;
    flex-direction: column;
}

.me-auto{
    font-family: 'Oswald', sans-serif;
}

.carrusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600vh;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.imagenCarrusel{
    width: 400vh;
    height: 33rem;
    border-radius: 1rem;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0;
}

.banner img{
    height: 3rem;
    background-color: transparent;
}

.logo{
    height: 7rem;
    border: transparent;
    z-index: 1;
}

.navbar{
    background-color: #3b3f44;
}

.nav-link{
    color: #fafafa !important;
}

.navbar-toggler-icon{
    filter: invert(1);
}

.icon,.numberCart{
    cursor: pointer;
    color: #fafafa;
    margin-right: .5rem;
}

.titulo{
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
}

.contenedor-contador{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
}

.botonMas ,.botonMenos{
    background-color: #274b7a;
    color: #fafafa;
    padding: .5rem;
    border-radius: .3rem;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregar{
    border-radius: .6rem;
    padding: 0.3rem;
    background:rgb(39, 75, 122) ;
    transition: all .3s;
    color: #fafafa;
}


.agregar:hover{
    background:rgb(39, 75, 122) ;
}

.contenedor-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    height: 100%;
}

.contenedorGral{
    padding:  3rem;
}

.boton{
    background:linear-gradient(to left,transparent 50%, #274b7a 50%) !important;
    background-position:right !important;
    background-size: 201% !important;
    transition: ease-in-out .6s !important;
    color: #274b7a !important;
    border: solid .1rem #274b7a !important;
}

.boton:hover{
    background-position: left !important;
    color: #000000 !important;
}



.containerDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}



.contDetail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin: 2rem 0;
    gap: 1rem;
}


.titulo-envios{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.5rem;
    background-color: #3b3f44;
    color: #fafafa;
    gap: .5rem;
}

.contCart{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10rem;
}

.contenedor-contador{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
}

.botones{
    display: flex;
    gap: .5rem;
}

.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cart{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.cartItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    background-color: #6c757d81;
    border-radius: 2rem;
    border: solid 1px #000000;
}

.imagenCart{
    height: 5rem;
}

.imgCart{
    height: 5rem;
    background-color: transparent;
}

.nombreCart,.precioCart,.cantidadCart,subCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Oswald, sans-serif'
}

.eliminarProd{cursor: pointer;}

.contCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10rem 0;
}

.textoCart,.emoji{
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.mediosDePago{
    margin: 0 2rem;
}

.pagos{
    height: 7rem;
}

.volver{
    padding: 1rem;
}

.resumenCompra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}


.Total{
    display: flex;
    font-family: 'Oswald, sans-serif'
}

.textTotal{
    background-color: #274b7a;
    color: #fafafa;
    padding: .5rem;
    border-top-left-radius:.7rem ;
    border-bottom-left-radius:.2rem ;
}

.numberTotal{
    background-color: #dce0e477;
    color: #274b7a;
    padding: .5rem;
    border-top-right-radius:.7rem ;
    border-bottom-right-radius:.2rem ;
}

.contSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}



.form{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}


.textDatos{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    font-family:'Oswald, sans-serif';
}

.datosPersonales{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-family:'Oswald, sans-serif';
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.selecCuotas{
    display: flex;
    align-items: center;
}

input{
    border: solid 2px #274b7a;
    border-radius: .5rem;
    text-align: center;
}

.dropdown-item{
    color:#000000 !important;
}

.logo-tienda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #3b3f44;
}

.logo-tienda img{
    height: 5rem;
}

.logo-tienda h2{
    font-family: 'Delicious Handrawn', cursive;
    color: antiquewhite;
}

.icons{
    display: flex;
    gap: 1rem;
    height: 2rem;
}

.datos-tienda{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
}

.datos-tienda,.contacto-datos p{
    color: antiquewhite;
}

.text-principal{
    border-bottom:solid 1px #6c757d;
    text-align: center;
    font-family: 'Alkatra', cursive;
    color: antiquewhite;
}

.botonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ordenDeCompra h2{
    text-align: center;
}

.ordenDeCompra h3{
    text-align: start;
    padding: .5rem;
    font-weight: 700;
}

.textRecibo{
    font-weight: 500;
}



/* MEDIA QUERIES */

@media (min-width:700px) and (max-width:903px){
    .imagenCarrusel{
        width: 350vh;
        height: 28rem;
    }
    
    .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: .5rem 0;
    }
    
    .banner img{
        height: 3rem;
        background-color: transparent;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .textoCart h2{
        font-size: 1.2rem;
    }
}

@media (min-width:500px) and (max-width:700px){
    .imagenCarrusel{
        width: 400vh;
        height: 20rem;
    }
    
    .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: .5rem 0;
    }
    
    .banner img{
        height: 2rem;
        background-color: transparent;
    }

    .css-1i44sws{
        display: flex;
        flex-direction: column !important;
    }

    .css-1i44sws img{
        height: 10rem;
    }

    .form{
        display: flex;
        flex-direction: column;
    }
    .textoCart h2{
        font-size: 1.2rem;
    }
}

@media (min-width:200px) and (max-width:500px){
    .imagenCarrusel{
        width: 400vh;
        height: 15rem;
    }
    
    .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: .5rem 0;
    }
    
    .banner img{
        height: 2rem;
        background-color: transparent;
    }

    .css-1i44sws{
        display: flex;
        flex-direction: column !important;
        height: 50%;
    }

    .css-1i44sws img{
        height: 6rem;
    }

    .css-1idwstw{
        display: flex;
        flex-direction: column;

    }

    .botones{
        display: flex;
        flex-direction: column;
    }

    .contenedor-contador {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .cartItem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        background-color: #6c757d81;
        border-radius: 2rem;
        border: solid 1px #000000;
        flex-wrap: wrap;
    }

    .nombreCart, .precioCart, .cantidadCart, .subCart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-family: 'Oswald, sans-serif';
        gap: .2rem;
        width: 20rem;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .form h2{
        font-size: 1rem;
    }

    .datos-tienda{
        display: flex;
        flex-direction: column;
    }

    .textoCart h2{
        font-size: 1rem;
    }
}