.logo{
    height: 7rem;
    background-color: transparent;
    border: transparent;
    z-index: 1;
}

.navbar{
    background-color: #000000;
}

.nav-link{
    color: #fafafa !important;
}

.navbar-toggler-icon{
    filter: invert(1);
}

.icon,.numberCart{
    cursor: pointer;
    color: #fafafa;
    margin-right: .5rem;
}

.titulo{
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
}

.contenedor-contador{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .2rem;
}

.botonMas ,.botonMenos{
    border: 0.2rem solid thistle;
    border-radius: 100%;
    height: 2rem;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    border: .1rem solid black;
    border-radius: 2rem
}

.agregar{
    border: solid .1rem #274b7a;
    border-radius: 1rem;
    padding: 0 2rem;
    background: linear-gradient(to left,transparent 50%, rgb(39, 75, 122) 50%);
    background-size: 201%;
    background-position: right;
    transition: ease .6s;
}


.agregar:hover{
    background-position: left;
    color: #fafafa;
}

.contenedor-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 100vw;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

.boton{
    background:linear-gradient(to left,transparent 50%, #274b7a 50%) !important;
    background-position:right !important;
    background-size: 201% !important;
    transition: ease-in-out .6s !important;
    color: #274b7a !important;
    border: solid .1rem #274b7a !important;
}

.boton:hover{
    background-position: left !important;
    color: #000000 !important;
}



